<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="./css/bootstrap.css">

    <style>
        .btn-group-xs>.btn,
        .btn-xs {
            padding: .25rem .4rem;
            font-size: .875rem;
            line-height: 0.9;
            border-radius: .2rem;
        }
    </style>

    <title>Hello, world!</title>
</head>

<body>



<div class="container" style="margin-top: 10rem;">

    <div th:replace="~{./nav :: nav}"></div>
    <div th:replace="~{./nav :: register}"></div>
    <div th:replace="~{./nav :: login}"></div>

    <!-- 게시판 목록 -->
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-sm" style="table-layout: fixed">
            <thead>
            <tr style="text-align: center;">
                <th style="width: 7%;">번호</th>
                <th style="width: 53%;">글제목</th>
                <th style="width: 10%;">작성자</th>
                <th style="width: 10%;">조회수</th>
                <th style="width: 10%;">추천수</th>
                <th style="width: 10%;">날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th style="text-align: center;">2</th>
                <td><a href="#" style="color: black;"> asdasd</a></td>
                <td style="text-align: center;">test</td>
                <td style="text-align: center;">123123</td>
                <td style="text-align: center;">-3</td>
                <td style="text-align: center;">2022.11.11</td>
            </tr>
            <tr>
                <th style="text-align: center;">1</th>
                <td><a href="#" style="color: black;"> 123123</a></td>
                <td style="text-align: center;">admin</td>
                <td style="text-align: center;">3333</td>
                <td style="text-align: center;">33</td>
                <td style="text-align: center;">2022.11.11</td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr>
    <button type="button" class="btn btn-info" type="submit">글쓰기!</button>

    <div class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>


</div> <!-- container -->


<!-- 공백 -->
<div style="margin-bottom: 4rem;"></div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="../../static/js/bootstrap.bundle.js"></script>
<script src="../../static/js/bootstrap.js"></script>
<script src="./nav.js"></script>
</body>

</html>