<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="import" href="../static/nav.html">

    <style>
        .btn-group-xs>.btn,
        .btn-xs {
            padding: .25rem .4rem;
            font-size: .875rem;
            line-height: 0.9;
            border-radius: .2rem;
        }
    </style>

    <title>Hello, world!</title>
</head>

<body>
    <div class="container">

        <header data-include-path="../static/nav.html"></header>

        <div class="table-responsive" style="margin-top: 40px;">
            <div class="container-fluid d-flex justify-content-end"
                style="margin-bottom: 2px;margin-top: 20px; padding-right: 1px;">
                <select class="form-select" aria-label="Default select example">
                    <option selected>--전체--</option>
                    <option value="1">10개씩</option>
                    <option value="2">30개씩</option>
                    <option value="3">50개씩</option>
                </select>
            </div>
            <table
                class="table table-dark table-hover table-bordered table-striped table-sm table-responsive-md align-middle"
                style="table-layout: fixed">
                <thead>
                    <tr>
                        <th scope="col" style="text-align: center;">이름</th>
                        <th scope="col" style="text-align: center;">현재가</th>
                        <th scope="col" style="text-align: center;">전일대비</th>
                        <th scope="col" style="text-align: center;">거래대금</th>
                        <th scope="col" style="width: 10%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: center;">비트코인</td>
                        <td style="text-align: right;">2,000,000 ₩</td>
                        <td style="text-align: right; color: hotpink;">1.23%</td>
                        <td style="text-align: right;">1,241백 만</td>
                        <td align="center">
                            <button class="btn btn-info btn-sm btn-block" style="margin: 0px;" data-toggle="modal"
                                data-target="#modal_buy">매입</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">이더리움</td>
                        <td style="text-align: right;">130 ₩</td>
                        <td style="text-align: right; color: cornflowerblue;">-9,901.14%</td>
                        <td style="text-align: right;">6백 만</td>
                        <td align="center">
                            <button class="btn btn-info btn-sm btn-block" style="margin: 0px;" data-toggle="modal"
                                data-target="#modal_buy">매입</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">솔라나</td>
                        <td style="text-align: right;">153,000 ₩</td>
                        <td style="text-align: right; color: white;">0.0%</td>
                        <td style="text-align: right;">1,030백 만</td>
                        <td align="center">
                            <button class="btn btn-info btn-sm btn-block" style="margin: 0px;" data-toggle="modal"
                                data-target="#modal_buy">매입</button>
                        </td>
                    </tr>
                </tbody>
            </table>


            <!-- 매입 폼 -->
            <div class="modal fade" id="modal_buy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"><span>코인이름 매입창</span></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="">
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">갯수로 매입!</label>
                                        <input type="number" class="form-control" value="0">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">가격으로 매입!</label>
                                        <input type="number" class="form-control" value="0">
                                    </div>
                                    <!-- <div class="form-group"> -->
                                    <label for="recipient-name" class="col-form-label">갯수 : </label><span>1.14212
                                    </span><br />
                                    <label for="recipient-name" class="col-form-label">가격 : </label><span>112313.1123
                                        ₩</span>
                                    <!-- </div> -->
                                </form>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-primary" type="submit">매입</button>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>



        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="../static/js/bootstrap.bundle.js"></script>
        <script src="../static/js/bootstrap.js"></script>


        <script>
            window.addEventListener('load', function () {
                var allElements = document.getElementsByTagName('header');
                Array.prototype.forEach.call(allElements, function (el) {
                    var includePath = el.dataset.includePath;
                    if (includePath) {
                        var xhttp = new XMLHttpRequest();
                        xhttp.onreadystatechange = function () {
                            if (this.readyState == 4 && this.status == 200) {
                                el.outerHTML = this.responseText;
                            }
                        };
                        xhttp.open('GET', includePath, true);
                        xhttp.send();
                    }
                });
            });
        </script>
</body>

</html>