<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <!-- <link rel="import" href="./nav.html"> -->

    <style>
        .btn-group-xs>.btn,
        .btn-xs {
            padding: .25rem .4rem;
            font-size: .875rem;
            line-height: 0.9;
            border-radius: .2rem;
        }
    </style>

    <title>MockCoin Trader</title>
</head>

<body>
    <div class="container">

        <!-- <header data-include-path="/nav.html"></header> -->

        <div th:replace="~{./nav :: nav}"></div>
        <div th:replace="~{./nav :: register}"></div>
        <div th:replace="~{./nav :: login}"></div>

        <div class="table-responsive" style="margin-top: 40px;">
            <div class="container-fluid d-flex justify-content-end"
                style="margin-bottom: 2px;margin-top: 20px; padding-right: 1px;">
                <select class="form-select" aria-label="Default select example">
                    <option selected>--전체--</option>
                    <option value="1">10개씩</option>
                    <option value="2">30개씩</option>
                    <option value="3">50개씩</option>
                </select>
            </div>

            <table class="table table-dark table-sm table-responsive-md align-middle" style="table-layout: fixed">
                <thead>
                    <tr>
                        <th scope="col" style="text-align: center;">이름</th>
                        <th scope="col" style="text-align: center;">현재가</th>
                        <th scope="col" style="text-align: center;">전일대비</th>
                        <th scope="col" style="text-align: center;">거래량</th>
                        <th scope="col" style="width: 10%;"></th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    <tr th:each="list: ${list}">
                        <td name="fullNameKO" class="align-middle" style="text-align: center;" th:text="${list.fullNameKO}"></td>
                        <td name="tradePrice" class="align-middle" style="text-align: right;"
                            data-th-text="${#numbers.formatInteger(list.tradePrice, 1, 'COMMA')} + ' ₩'"></td>
                        <td name="signedChangeRate" class="align-middle" style="text-align: right;" th:text="${list.signedChangeRate} + ' %'">
                        </td>
                        <td name="accTradePrice24h" class="align-middle" style="text-align: right;"
                            data-th-text="${#numbers.formatInteger(list.accTradePrice24h, 1, 'COMMA')} + '백만 원'">
                        </td>

                        <td name="CryptoId" class="align-middle" style="display: none;" th:text="${list.CryptoId}"></td>
                        <td name="CryptoMarket" class="align-middle" style="display: none;" th:text="${list.CryptoMarket}"></td>

                        <!-- data-toggle="modal"
                            data-target="#modal_buy" -->
                        <td align="center" sec:authorize="isAuthenticated()">
                            <button name="showModalButton" class="btn btn-info btn-sm btn-block" style="margin: 0px;">
                                매입
                            </button>
                        </td>

                        <td align="center" sec:authorize="!isAuthenticated()">
                            <button class="btn btn-info btn-sm btn-block" style="margin: 0px;"
                                onclick="openLoginModal()">
                                매입
                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <!-- 매입 폼 -->
        <div class="modal fade" id="modal_buy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel"><span>코인이름 매입창</span></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div action="/user/buy" method="post">

                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">갯수로 매입!</label>
                                    <input id="input_count" type="number" class="form-control" value="0" max="999999999"
                                        name="count">
                                </div>

                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">가격으로 매입!</label>
                                    <input id="input_price" type="number" class="form-control" value="0"
                                        max="9999999999" name="price" readonly>
                                </div>

                                <label for="recipient-name" class="col-form-label">갯수 : </label>
                                <span id="result_count"></span>

                                <br />

                                <label for="recipient-name" class="col-form-label">가격 : </label>
                                <span id="result_price"></span>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-primary" onclick="return submitCheck()">매입</button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="./js/bootstrap.bundle.js"></script>
    <script src="./js/bootstrap.js"></script>
    <script src="./js/common/customModule.js"></script>

    <script src="./nav.js"></script>
    <script src="./index.js"></script>

</body>

</html>